/* dark grey #2c3531
teal #116466
beige #d9b08c
peach #ffcb9a
sky blue #d1e8e2 */

/* @font-face { font-family: Futura; src: url(futura.otf); } */

body {
  font-family: 'Spartan', sans-serif;
    /* font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif; */
    font-weight: 200;
}
.background {
    background: #2C3531;
    background: -moz-linear-gradient(-45deg, #2C3531 0%, #116466 100%);
    background: -webkit-linear-gradient(-45deg, #2C3531 0%, #116466 100%);
    background: linear-gradient(135deg, #2C3531 0%, #116466 100%);
    flex: 1;
}

.main-page {
    height: 100vh;
    width: 98vw;
    text-align: center;
    margin: 0 auto;
}

.title {
    color: #ffcb9a;
    /* height: 50vh; */
    font-size: 70px;
    text-align: center;
    /* border-bottom: 2px solid #c7f5e0; */
    position: -webkit-sticky;
    position: sticky;
    float: initial;
    top: 110px;
    z-index: 1;
    margin-bottom: 30px;
    padding-top: 50px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from { 
              /* margin-left: 100%; */
        width: 300%;
    }
    75% {
        font-size: 400%;
        /* margin-left: 15%; */
        width: 150%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.center {
    text-align: center;
}
.mesh-logo {
    width: 146px;
    height: auto;
    position: fixed;
    left: 31px;
    top: 30px;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.subtitle {
    /* min-height: 50vh; */
    /* background: #2C3531;
    background: -moz-linear-gradient(-45deg, #2C3531 0%, #116466 100%);
    background: -webkit-linear-gradient(-45deg, #2C3531 0%, #116466 100%);
    background: linear-gradient(135deg, #2C3531 0%, #116466 100%); */
}

h2 {
    color: #d1e8e2;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
    animation-duration: 4s;
    animation-name: slideup;
}

@keyframes slideup {
    from {
        margin-top: 100%;
        width: 300%;
    }
    75% {
        font-size: 50%;
        margin-top: 15%;
        width: 150%;
    }
    to {
        margin-top: 0%;
        width: 100%;
    }
}

.sub-headings {
    color: #d9b08c;
    font-size: 50px;
    padding-top: 100px;
    -webkit-text-stroke: 0.5px #ffcb9a;
}

.contact-heading {
    color: #d9b08c;
    font-size: 50px;
    -webkit-text-stroke: 0.5px #ffcb9a;
    margin: 5px;
    margin-top: 35px;
}

.flip-up {
    animation-name: flip-up;
    animation-duration: 2s;
}

@keyframes flip-up {
    0%, 100% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(150deg);
    } 
}

.larger {
    animation-name: larger;
    animation-duration: 2s;
}

@keyframes larger {
    0%, 100% {
        font-size: 50px;
    }
    50% {
        font-size: 75px;
    }
}

.who-section {
    width: 96vw;
    height: 100vh;
    /* background: #116466;
    background: -moz-linear-gradient(top, #116466 0%, #D9B08C 100%);
    background: -webkit-linear-gradient(top, #116466 0%, #D9B08C 100%);
    background: linear-gradient(to bottom, #116466 0%, #D9B08C 100%); */
    margin-top: 0;
    border-top: 3px solid #2c3531; 
    z-index: 2;
}

.what-section {
    z-index: 2;
    /* background: #116466;
    background: -moz-linear-gradient(45deg, #116466 0%, #d9b08c 100%);
    background: -webkit-linear-gradient(45deg, #116466 0%, #d9b08c 100%);
    background: linear-gradient(45deg, #116466 0%, #d9b08c 100%); */
}

.what-section,
.who-section {
    width: 96vw;
    max-width: 1000px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.contact-section {
    text-align: center;
    background-color: #d1e8e2;
    border: 2px solid #2c3531;
    display: block;
    /* padding-bottom: 40px; */
    padding: 40px;
    margin: 5% auto;
    /* position: fixed; */
    /* z-index: 4; */
    height: 80vh;
    width: 80vw;
}

.para {
    padding-top: 40px;
    color: #d1e8e2;
    text-align: left;
    font-size: 25px;
    line-height: 1.8;
    font-weight: 500;
}

.sub-content {
    width: 70%;
    max-width: 800px;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
}

.logos-container {
    display: flex;
    justify-content: space-between;
    width: 141px;
    text-align: center;
    margin: 10px auto;
    /* display: block; */
}

.logos {
    /* flex: 1; */
    margin-top: 15px;
    /* justify-content: space-between; */
    /* margin-left: 25px; */
    width: auto;
    height: 50px;
}

.input {
    display: block;
    margin: 5px auto;
    font-size: 20px;
    margin-top: 30px;
    padding: 4px;
    font: inherit;
  }
  
  .message {
  height: 100px;
}

.button {
    width: 110px;
    height: 40px;
    background-color: #ffcb9a;
    color: #2c3531;
    margin-top: 10px; 
    font-size: 20px;
}

form { margin-bottom: 25px; }

@media (max-width: 590px) {
  .title { font-size: 50; }
  .subtitle { font-size: 22; }
  .sub-headings { font-size: 30; }
  .para { font-size: 20; }
  .mesh-logo {
      width: 93px;
      left: 18px;
      top: 22px;
  }
}

@media (max-width: 490px) {
  .title { font-size: 45; }
  .subtitle { font-size: 20; }
  .sub-headings { font-size: 28; }
  .para { font-size: 16; }
}

@media (max-width: 390px) {
  .title { font-size: 35; }
  .subtitle { font-size: 16; }
  .sub-headings { font-size: 22; }
  .para { font-size: 14; }
}

@media (max-width: 290px) {
  .title { font-size: 20; }
  .subtitle { font-size: 10; }
}